<form class="example-form">
  <mat-form-field class="example-full-width">
    <input [(ngModel)]='searchMovie' (keyup.enter)="searchMovies()" matInput placeholder="Search film"
      name="searchMovie">
  </mat-form-field>
</form>

<mat-list>
  <mat-list-item [routerLink]="['/movie', movie.id]" 
  routerLinkActive="active" 
  *ngFor='let movie of movies | movieSearch:searchMovie'>
    <img matListAvatar [src]="movie['img']" alt="movie-image">
    <h3 matLine> {{movie.name | uppercase}} </h3>
    <p matLine>
      <span>Genres: {{movie.genres}}</span>
    </p>
    <p matLine>
      <span>Rate: {{movie.rate}}</span>
    </p>
  </mat-list-item>
</mat-list>